body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #006837; /* Verde oscuro institucional */
    padding: 1rem;
  }
  
  header img {
    max-height: 3rem;
  }
  
  #menu {
    background-color: #f0f0f0; /* Gris claro */
    padding: 1rem;
    width: 220px;
  }
  
  .menu-area {
    background-color: #f0f0f0; /* Color por defecto */
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-area:hover {
    background-color: #004d2b; /* Verde oscuro para hover */
    color: white;
  }
  
  .menu-area.active {
    background-color: #064e3b ;
    color: white;
  }
 
  
  .filtros-container {
    background-color: #f0f0f0; /* Fondo gris claro para filtros */
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }
  
  select {
    min-width: 120px;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
  }
  
  option {
    color: black;
  }
  
  button.exportar {
    background-color: #f0f0f0; /* Color resaltado para botón */
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.exportar:hover {
    background-color: #b86300;
  }
  
